@media screen and (max-width:1319px) {

    #areaAndDivisionSelector{
        position:fixed;
        bottom:0;
        width:100%;
        justify-content:space-around;

    }
    #cleardivisiondiv {
        align-self: center;
        width: 4%;
        min-width: unset;
        box-sizing: content-box;
        margin-right: 20px;
    }
    #circleSelect{
        width:35%!important;
        min-width:unset!important

    }
    #divisionSelect{
        width:35%!important;
        min-width:unset!important
    }






    #iconHolder {
        margin-right: 0 !important;
        position: fixed;
        top: 50%;
        width: auto !important;
        right: 13px;
        flex-direction: column;
    }
    #header{
        justify-content:space-between;
        height:6%;

        min-height:39px;

    }
    #mainLogo{
        margin-right : 0!important;
        width:90px!important;
        
    }
    #mainLogoimg {
        height: 5rem!important;
    }
    #viewData {
        height: 101.5% !important;
   
        margin-top:10%!important;
    }
    @media screen and (orientation: landscape) {
        #iconHolder {
            left: 13px;
            width: 2%!important;
        }
        #viewData {
            
            margin-top: 4% !important;
        }
        
    }
}
